* {
  box-sizing: border-box;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Work Sans', sans-serif;
  background-color: hsl(0, 0%, 100%);
  -webkit-tap-highlight-color: transparent;
}

a {
  color: inherit;
  text-decoration: none;
}

#container{
  width: 100%;
  max-width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.centerFlex{
  display: flex;
  align-items: center;
  justify-content: center;
}

.relativeContainer{
  position: relative;
  width: 100%;
  height: 100%;
}

@media (min-width: 768px) {
  ::-webkit-scrollbar {
    width: 10px;
  }

  ::-webkit-scrollbar-thumb {
    background: lightgray;
  }
}

